
html {

}



body {
background-image: url(images/baggrund_forside.jpg);
background-repeat: no-repeat;
background-size:cover;
 position: absolute;
}


ul {
    list-style-type: none;
    margin-left: 800px;
    margin-top: 40px;
    font-family: "Shree Devanagari 714";
    letter-spacing: 2px;
    overflow: hidden;
}

li {
    float: right;
    width: 200px;
}

li a {
  display:inline;
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;

}
#logo {
    height: 320px;
    width: auto;
    position: absolute;
    top: -160px;
    left: -90px;
}
#some {
    height: 220px;
    width: auto;
    position: absolute;
    right: -160px;
    top: -66px;
}


    

}